.btn {
  padding: var(--space-2) var(--space-4);
  border: 1px solid transparent;
  border-radius: var(--border-radius-base);
  font-size: var(--font-size-md);
  cursor: pointer;

  background-color: var(--neutral);
  color: var(--neutral-content);
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--neutral-focus);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--primary-content);
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: var(--primary-focus);
}
