@import "_reset.css";
@import "_variables.css";
@import "_components.css";

:root {
  --navbar-height: 64px;
}

body {
  background-color: var(--base-100);
  color: var(--base-content);
}

main {
  padding-top: var(--navbar-height);
}

.navbar {
  height: var(--navbar-height);
  background-color: var(--base-300);

  position: fixed;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 16px;

  transition: 0.3ms;
}

.nav-brand {
  font-size: var(--font-size-xl);
}

.nav-item {
  padding: var(--space-2) var(--space-4);
}
