@import "_reset";
@import "_variables";
@import "_components";

:root {
  --navbar-height: 64px;
}

body {
  background-color: var(--base-100);
  color: var(--base-content);
}

main {
  padding-top: var(--navbar-height);
}